.parent{
    margin-left: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .h1Tag{
    text-align: start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    word-wrap: break-word;
    /* background: linear-gradient(to right,#00eaff, #096b21, #00ff40); */
    background: linear-gradient(115deg, rgb(33, 164, 255), rgb(0, 255, 173), rgb(33, 243, 220), rgb(18, 188, 254), rgb(68, 206, 123));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    margin: 0;
    margin-left: 70px;
  }

.sections{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-left: 50px;
}

  .firstSection{
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(10px);
    width: 30%;
    height: 100px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

  .leftPara{
     word-spacing: 2px;
     letter-spacing: 2px;
     /* font-size: 20px; */
     font-weight: bold;
     margin-top: 10px;
     margin-bottom: 0px;
     background: linear-gradient(to right,#0adaec, #0f49ad);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }

  .rightPara{
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
    border-radius: 7px;
    border-color: transparent;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
  }

  .secondSection > div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .priceTextH2{
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0px;
    background: linear-gradient(to right,#0adaec, #0f49ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .priceTextPara{
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    width: fit-content;
    padding: 5px;
    border-radius: 7px;
    border-color: transparent;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
  }

  @media screen and (max-width: 768px) {
    .parent{
        margin-left: 0px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: fit-content;
      }

      .h1Tag{
        text-align: center;
        margin-left: 0px;
      }

      .sections{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
      }

      .firstSection{
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }
  }

  @media only screen and (min-width: 800px) and (max-width: 930px) {
    .parent{
        margin-left: 5px;
      }

      .firstSection{
        padding-left: 10px;
        margin-left: 10px;
    }     
}
    